{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- daterange picker -->
    <link rel="stylesheet" href="{{ asset('/AdminLTE/bootstrap-daterangepicker/daterangepicker.css') }}">
{% endblock %}

{% block body %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-xs-2">
                            <h3 class="box-title">Invoices List</h3>
                        </div>
                        <div class="col-xs-3">
                            <a href="{{ path('invoices_new') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> New Invoice</a>
                        </div>
                        <div class="col-xs-7">
                            <div class="form-inline pull-right">
                                <form method="post">
                                    <i class="fa fa-calendar"></i>
                                    <label for="datefilter"> Dates: </label>
                                    <input type="text" name="datefilter" id="datefilter" value="{{ datefilter }}" />
                                    <button type="submit" formmethod="post"> Filtrar </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Invoiced at</th>
                            <th>Number</th>
                            <th>Details</th>
                            <th>Received by</th>
                            <th>Payed at</th>
                            <th>Movements</th>
                            <th colspan="2">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td>{{ invoice.invoicedAt|date('Y-m-d') }}</td>
                                <td>{{ invoice.number }}</td>
                                <td>{{ invoice.details }}</td>
                                <td>{{ invoice.receivedBy }}</td>
                                <td>{{ invoice.payedAt|date('Y-m-d') }}</td>
                                <td>{% for movement in invoice.movements %}
                                        {{ movement.title }},
                                    {% endfor %}
                                </td>
                                <td align="center">
                                    <a href="{{ path('invoices_edit', {id: invoice.id}) }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="{{ path('invoices_remove', {id: invoice.id}) }}" onclick="return confirm('are u sure?')">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!-- date-range-picker -->
    <script src="{{ asset('/AdminLTE/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('/AdminLTE/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('/AdminLTE/bootstrap-daterangepicker/daterangepicker.css') }}"></script>

    <script type="text/javascript">
        $(function() {

            $('input[name="datefilter"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });

            $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });

        });
    </script>

{% endblock %}