{% extends 'base.html.twig' %}

{% block body %}
    <h2>Edit movement</h2>

    <div class="content">
        <div class="col-xs-12">
            {{ form_start(movementForm, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(movementForm.formdate, {'value':  date  }) }}
            {{ form_row(movementForm.title) }}
            {{ form_row(movementForm.price) }}
            {{ form_row(movementForm.price_ars) }}
            {{ form_row(movementForm.type) }}
            {{ form_row(movementForm.invoices) }}
            <button class="btn btn-primary btn-lg" type="submit" formmethod="post"><i class="fa fa-save"></i> Save</button>
            {{ form_end(movementForm) }}
        </div>
    </div>
{% endblock %}
